<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Signin Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="/resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
        <link href="/resources/css/signin.css" rel="stylesheet" th:href="@{/resources/css/signin.css}"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <form th:action="@{/login}" class="form-signin" method="post">

            <h2 class="form-signin-heading" th:text="#{login.title}">Please sign in</h2>
            <div th:if="${param.error}" class="alert alert-danger">    
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success"> 
                You have been logged out.
            </div>
            <label for="inputEmail" class="sr-only" th:text="#{login.email}">Email address</label>
            <input type="text" id="username" name="username" class="form-control" th:placeholder="#{login.username.placeholder}" />
            <label for="inputPassword" class="sr-only" th:text="#{login.password}">Password</label>
            <input type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password.placeholder}" />
            <div class="checkbox">
                <label>
                    <input type="checkbox" th:text="#{login.remember}" > Remember me </input>
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.button}">Sign in</button>
        </form>
    </body>
</html>
